@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div id="demo">
        <h2>js串接api測試按鈕</h2>
        <button type="button" onclick="loadDoc()">Change Content</button>
    </div>

    <script>
function loadDoc() {
  var request = new XMLHttpRequest();
  request.open("GET", "https://localhost:44334/GetUserByIdFromTxt?UserID=Tom1",true);
   
  request.onload = function() {
  var data=JSON.parse(this.response);
  
    document.getElementById("demo").innerHTML =
    data.desc;
  }

  request.send();
}
    </script>

</div>
